body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #ccc;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.8rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav ul li button{
    margin-left: 100px;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: gray;
    color: white;
}
nav ul span{
    margin-right: 4rem;
    font-family: Blippo, fantasy ;
}